input {
    background-color: blue;
    color: aliceblue;
    font-size: medium;
}
label{
    background-color: bisque;
    font-size: x-large;
}
input{
    font-style: italic; 
}
div{
    background-color: chartreuse;
    width: 240px;
    height: 150px;
    padding: 10px;
}