div {
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
    background-color: rgb(137, 89, 26);
    color: rgb(59, 59, 212);
    border-radius: 8px;
    text-decoration-style: solid;
    text-align: center;
}
body{
    background-color: brown;
}
div:hover{
    background-color: darkolivegreen;

}
small{
    text-align-last: right;
}
