body{
    background-color: darkkhaki;
}
.class1{

    
    background-color: rgb(154, 154, 23);
    width: 600px;
    height: 800px;
    border: solid black 3px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgb(154, 154, 23),
    -8px -8px -20px;
    opacity: 0.7;
    
    
}
#photo{
    
    
    width: 600px;
    height: 270px;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
}
#photo:hover{
    content: url(./NoviPazar.jpg);
}
.main{
    
    padding: 15px;
    text-align: center;
}
.main:hover{
    background-color: rgb(243, 11, 11);
}
.main1 {
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    text-indent: 15px;
    text-align-last: left;
    
    
}
.main1:hover{
    background-color: rgba(0, 0, 0, 0.4)
}
.class1:hover{
    opacity: 0.9;
}
